[submodule "xmonad/.xmonad/xmonad-git"]
	path = xmonad/.xmonad/xmonad-git
	url = https://github.com/xmonad/xmonad
	branch = master
[submodule "xmonad/.xmonad/xmonad-contrib-git"]
	path = xmonad/.xmonad/xmonad-contrib-git
	url = https://github.com/samtay/xmonad-contrib
	branch = three-column-resizable
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
