*.swp
*.ho
*.hi
*.errors
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
ranger/.config/ranger/tagged
vim/.vim/.netrwhist
vim/.vim/autoload/
vim/.vim/plugged/
xmonad/.xmonad/history
xmonad/.xmonad/xmonad.state
ghc/.ghc/ghci_history
theme
termite/.config/termite/config
fzf/.fzf
tmux/.tmux/plugins
